<configuration>

<!--   <appender name="CONS" class="ch.qos.logback.core.ConsoleAppender"> -->
<!--     <encoder> -->
<!--       <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
<!--     </encoder> -->
<!--   </appender> -->
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>graph-service.log</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

<!--   <logger name="au.csiro.data61" level="DEBUG" /> -->
  
  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
</configuration>
