<configuration>

  <appender name="CONS" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>tika-test.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

<!--   <logger name="au.csiro.data61" level="DEBUG" /> -->
  <logger name="org.apache.pdfbox" level="INFO" /> <!-- too chatty -->
  <logger name="org.apache.fontbox" level="INFO" /> <!-- too chatty -->
  <logger name="com.optimaize.langdetect" level="INFO" /> <!-- too chatty -->
  
  <root level="DEBUG">
    <appender-ref ref="CONS" />
  </root>
</configuration>
